* {
  box-sizing: border-box;
  margin: auto;
}

body {
  background: linear-gradient(to right, #ffcc99, #ff9999);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.kartya {
  background-color: #ff9966;
  color: #fff;
  border: 2px solid #cc7d85;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.kartya:hover {
  transform: translateY(-5px);
  /*Kártya megemelése hover esetén*/
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  /*Árnyék hozzáadása*/
}

/* Képek formázása */
.kartya img {
  max-height: 150px;
  width: auto;
  border-top-left-radius: 10px;
  /*Kép kerekítése a bal felső sarokban*/
  border-top-right-radius: 10px;
  /*Kép kerekítése a jobb felső sarokban*/
}

/* Kártya tartalmának formázása */
.kartya-body {
  padding: 1.5rem;
  /*Belső tér az elválasztásért*/
}

.kartya-body h4 {
  color: #dc3545;
  margin-bottom: 1rem;
  /*Térköz a cím és a többi tartalom között */
}

.kartya-body ul {
  list-style-type: none;
  padding: 0;
}

.kartya-body ul li {
  margin-bottom: 0.5rem;
  /*Kisméretű térköz az elemek között */
  font-size: 1.1rem;
  /*Nagyobb méretű termék információk */
  line-height: 1.5;
  /*Kényelmes sorok közötti távolság */
}

.kartya-body .kartya-text {
  font-size: 1.4rem;
  /*Nagyobb méret az árnak*/
  font-weight: bold;
  color: #28a745;
}

/* Gomb formázása */
.gomb {
  background-color: #cc7d85;
  border-color: #cc7d85;
  padding: 0.75rem 1.5rem;
  /*Méretes gomb*/
  border-radius: 5px;
  font-weight: bold;/ transition: all 0.3s ease;
  /*Sima áttűnés*/
}

.gomb:hover {
  background-color: #c82333;
  border-color: #bd2130;
  transform: translateY(-2px);
  /*Gomb megemelése hover esetén */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  /*Árnyék hozzáadása*/
}

.termek-info {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
}

.table thead th {
  background-color: #cc7d85;
  color: black;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ff9966;
}

.table tbody td {
  background-color: #ff9966;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #cc7d85;
}

.table tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table tbody td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table tbody td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.torles-gomb {
  background-color: #cc7d85;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.torles-gomb:hover {
  background-color: #c82333;
}

.kosar {
  margin-bottom: 20px;
}

.kosar table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.kosar th,
.kosar td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.kosar th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.kosar .osszesen {
  text-align: center;
}

.kosar .osszesen h3 {
  margin: 0;
  font-weight: bold;
}

.kosar .osszesen span {
  font-weight: normal;
}